body{
  background-color: rgb(197, 245, 229);
  text-align: center;
}

.myMoney{
  padding-right: 6em;
  padding-left: 6em;
  margin-right: 2em;
  border-radius: 10px;
  background-color: rgb(153, 220, 245);
}
.moneyDisplay{
  font-size: 100px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.moneyButton{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.myShop{
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 9px;
  background-color: rgb(175, 141, 230);
}

.shopTitle{
  padding-left: 2em;
  padding-right: 2em;
}

.capitalProduct{
  border-radius: 4px;
  background-color: #bdc7c2;
  border: 3px solid #161616;
  margin-bottom: 10px;
}